config/node-red/flows.json
[{"id":"0e8f6b67bf5f7644","type":"tab","label":"Time Events","disabled":false,"info":"","env":[]},{"id":"af922ec12cc24eb2","type":"group","z":"0e8f6b67bf5f7644","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["b8f52e4f41cd2d0d","83b265c91908ebc9","72af4f94c5a53079","ce7234c8b9b5fb38","37c06292e60fa0f2","3d6c570539c4e0a6","8df8865412c76469","352185a904ef52c8","37289fa14f97c1e8","36bdeb7225d0ea6e","eb336140f99bd9fb","6e0b3c1b03210e20","74363e5f8a0ae601","23e7eab6fa56ab99","4735a6ac5513ce91","73669c480de41f67","2b3bc8cb0c75c940","bc71775aad7f41cf","4d67c87f5660e2ff","5de2e5947167caa9","f18487ee52559c79","641520ebc8cda255","e4322dbddc9afd84","64e82c5ccdca98f3","a46812e1af17a5d5","52f542a6a7aac3a4","fcf2ad47d6b9c9cb","45ad42f54ae3227f","4748de013fbe96e5"],"x":54,"y":39,"w":1432,"h":522},{"id":"97d95b79239fec91","type":"group","z":"0e8f6b67bf5f7644","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["b66b740408fe5733","d547650c5a2d1f2c","77ce70f8ea73afa1","1470f335e76b6c98","131cf7adb5bda567","38ac479d21115bd1","a3c88ca6db142ac5","f344be2df57e242f","e35f0e75fe9a65d6","508530b4a6242cc6","3ebc94adc32366e3","ac8e0389514188ba","f788e9f8fbef9822","cd9fa763f5527bf3","fe4fe4a319aba2fa","0fd57bfc1cb5087e","3ebe07734d58afec","2d4425f77f88c6b4","aadb7647ec3374ce","d6e0dbaa97906f3e","045f483e1dbc5d9a","756934d53f56ef59","1ed6b9b961f6af4b","9e9dca0a3710ab4b","aeb44aa2522df9f4","5ccae411815f63be","881081445e623691","37ca44f5dddca3c6","d25e902e5f43e0b6","31cf53aff11353eb","9be85ff0bb1d897e","96a95b863ebb13a7","9c887dc29563662b","8b65b1fa21664d56","0bc4e6b2a84f7f64","03e430271c4d3e2e"],"x":54,"y":619,"w":2012,"h":502},{"id":"bcf8b42cf961c13f","type":"group","z":"0e8f6b67bf5f7644","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["8b63dfc4c9e23c15","5b4b316c5ce5394b","392103830291ac1f","69a9377db1fbae6d","be4261c9c45ad9e4","4be567938dadd156","66eb2a0e58d55b7e","9b69b8b35935fe53","31a1ccbe51156198","df4ac9e5af0e8f6f","f69c80594b85c018","2637ed3cce1da98c","40f99c206974098d","8c4706b8fb84af54","2b18ddccaad76d53","10b7f7a6bfa8975f","f1c037d1f1107475","03db6f81cdb33042","2ab30f2f6e61cea0","e479926da7f7194b","6dec74ac5574f034","cd46289ff5b4a370","4efc1e9ee6e5ecd8","8a682d25858f16f8","f860143ff34457e6","7dafe19c20b516ab","e99f6ad0e45e80eb","a877fb863e533746","fa871ac9041e7982","029a075bef31110c","c646f32bb6d988de","87c3284261664ac1","006cd05ad8b73fc7","6a366205e89ab248","e917450ddc531172","237cc8ce48f2273e","e1fcea2c78ba524c","372614d257c1b713","3d2f7aa91ec2de18","c2fd5310b317759a","739908c2caa329e7","faf06f138718c891","aec9036e1339cf0e"],"x":54,"y":1179,"w":2172,"h":642},{"id":"8e91da327c4f467a","type":"group","z":"0e8f6b67bf5f7644","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["ca3ea91ad8b05cff","8575c9d21522d666","a22dcc5d492030a2","49aae6dea38bcdde","a3b250eba3c64cb3","fd4be9316de11f61","554364cb7f402e3f","6462c865078d1e49","b0c9497dd4974c2a","dc6ec384265c210c","658620835c1a3073","4c29cca408d3c40c","262f1873d45f4e71","3bd220d0c7015876","66ec99b6bd39ecc1","11945768839bef9e","33a97b9ee57b311d","975796edb953ce38","068603d5b8c4b780","768333d67a56955d","0802fe0a20fcb2c5"],"x":54,"y":1879,"w":1632,"h":469.5},{"id":"bdc631bb10970883","type":"group","z":"0e8f6b67bf5f7644","style":{"stroke":"#999999","stroke-opacity":"1","fill":"none","fill-opacity":"1","label":true,"label-position":"nw","color":"#a4a4a4"},"nodes":["e0cee53b8574bcbf","4cfe141bc55e687d","a68be113fce5b9c8","df7f7ae5cdfac0e8","bd3a3dd77c1184f2","6238fbbb75dc6ee0","cf810ac76943a369","c5c8415bde618209","dfcf23405c320736","bbe94e86d28be090","13b7f8fed13ab942","9ac02930d57cad7e","fac15e1488279126","6176eedcd6b71b00","1b43fa2374928373","53f6962f8443e89c","7d0236b9ac4ae1b0","2551177d2e8305e5","81251d5c7c8c240e","c33975c50e590909","afdee1400ff560e8","155508e0b45747f4","d4b76d88c407a66c","9ff6d295f69d969e","78998044bdd7e639","38a201d19a4cd6fe"],"x":54,"y":2419,"w":1352,"h":562},{"id":"b66b740408fe5733","type":"api-call-service","z":"0e8f6b67bf5f7644","g":"97d95b79239fec91","name":"Set Brightness & Fade Duration","server":"1040bb61.673d75","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.living_room_corner_lamp"],"data":"{\"brightness\":204,\"transition\":900}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1730,"y":780,"wires":[["a3c88ca6db142ac5"]]},{"id":"d547650c5a2d1f2c","type":"api-call-service","z":"0e8f6b67bf5f7644","g":"97d95b79239fec91","name":"Turn ON","server":"1040bb61.673d75","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.backyard_string_lights"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1420,"y":900,"wires":[["f344be2df57e242f"]]},{"id":"77ce70f8ea73afa1","type":"api-current-state","z":"0e8f6b67bf5f7644","g":"97d95b79239fec91","name":"If Residents Home","server":"1040bb61.673d75","version":3,"outputs":2,"halt_if":"home","halt_if_type":"str","halt_if_compare":"is","entity_id":"group.residents","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":870,"y":780,"wires":[["131cf7adb5bda567","1470f335e76b6c98","756934d53f56ef59"],[]]},{"id":"1470f335e76b6c98","type":"api-current-state","z":"0e8f6b67bf5f7644","g":"97d95b79239fec91","name":"If Backyard String Lights are OFF","server":"1040bb61.673d75","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.backyard_string_lights","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1160,"y":900,"wires":[["d547650c5a2d1f2c"],[]]},{"id":"131cf7adb5bda567","type":"api-current-state","z":"0e8f6b67bf5f7644","g":"97d95b79239fec91","name":"If Ceiling Ledge Light is OFF","server":"1040bb61.673d75","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.foyer_ceiling_ledge","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1140,"y":840,"wires":[["f788e9f8fbef9822"],[]]},{"id":"38ac479d21115bd1","type":"api-current-state","z":"0e8f6b67bf5f7644","g":"97d95b79239fec91","name":"If Living Room Corner Lamp is OFF","server":"1040bb61.673d75","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.living_room_corner_lamp","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1400,"y":780,"wires":[["b66b740408fe5733"],[]]},{"id":"8b63dfc4c9e23c15","type":"api-call-service","z":"0e8f6b67bf5f7644","g":"bcf8b42cf961c13f","name":"Turn OFF","server":"1040bb61.673d75","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.backyard_string_lights"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1440,"y":1340,"wires":[["9b69b8b35935fe53"]]},{"id":"5b4b316c5ce5394b","type":"bigtimer","z":"0e8f6b67bf5f7644","g":"bcf8b42cf961c13f","outtopic":"","outpayload1":"","outpayload2":"","name":"At Bedtime","comment":"","lat":"26.305080","lon":"-80.197180","starttime":"5004","endtime":"10001","starttime2":"0","endtime2":"0","startoff":"+240","endoff":"+240","startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":"2","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xday7":0,"xmonth7":0,"xday8":0,"xmonth8":0,"xday9":0,"xmonth9":0,"xday10":0,"xmonth10":0,"xday11":0,"xmonth11":0,"xday12":0,"xmonth12":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":150,"y":1360,"wires":[[],["4be567938dadd156"],[]]},{"id":"392103830291ac1f","type":"api-current-state","z":"0e8f6b67bf5f7644","g":"bcf8b42cf961c13f","name":"If Backyard Exterior Lights are ON","server":"1040bb61.673d75","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.backyard_string_lights","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1180,"y":1340,"wires":[["8b63dfc4c9e23c15"],[]]},{"id":"69a9377db1fbae6d","type":"api-current-state","z":"0e8f6b67bf5f7644","g":"bcf8b42cf961c13f","name":"If Foyer Ceiling Ledge Lightstrip is ON","server":"1040bb61.673d75","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.foyer_ceiling_ledge","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1190,"y":1460,"wires":[["03db6f81cdb33042"],[]]},{"id":"be4261c9c45ad9e4","type":"api-current-state","z":"0e8f6b67bf5f7644","g":"bcf8b42cf961c13f","name":"If Living Room Corner Lamp is ON","server":"1040bb61.673d75","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.living_room_corner_lamp","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1180,"y":1400,"wires":[["6dec74ac5574f034"],[]]},{"id":"a3c88ca6db142ac5","type":"debug","z":"0e8f6b67bf5f7644","g":"97d95b79239fec91","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1970,"y":780,"wires":[]},{"id":"4be567938dadd156","type":"switch","z":"0e8f6b67bf5f7644","g":"bcf8b42cf961c13f","name":"Route","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":1360,"wires":[["4efc1e9ee6e5ecd8","8c4706b8fb84af54"],[]]},{"id":"f344be2df57e242f","type":"debug","z":"0e8f6b67bf5f7644","g":"97d95b79239fec91","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1590,"y":900,"wires":[]},{"id":"e35f0e75fe9a65d6","type":"debug","z":"0e8f6b67bf5f7644","g":"97d95b79239fec91","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1690,"y":840,"wires":[]},{"id":"66eb2a0e58d55b7e","type":"debug","z":"0e8f6b67bf5f7644","g":"bcf8b42cf961c13f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":2130,"y":1400,"wires":[]},{"id":"9b69b8b35935fe53","type":"debug","z":"0e8f6b67bf5f7644","g":"bcf8b42cf961c13f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1610,"y":1340,"wires":[]},{"id":"31a1ccbe51156198","type":"debug","z":"0e8f6b67bf5f7644","g":"bcf8b42cf961c13f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1630,"y":1460,"wires":[]},{"id":"508530b4a6242cc6","type":"api-current-state","z":"0e8f6b67bf5f7644","g":"97d95b79239fec91","name":"If Guests Home","server":"1040bb61.673d75","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.guests_home","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":860,"y":900,"wires":[["131cf7adb5bda567","1470f335e76b6c98","756934d53f56ef59","9c887dc29563662b"],[]]},{"id":"3ebc94adc32366e3","type":"api-current-state","z":"0e8f6b67bf5f7644","g":"97d95b79239fec91","name":"If Gouda Home","server":"1040bb61.673d75","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.status_dog_gouda","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":860,"y":840,"wires":[["131cf7adb5bda567"],[]]},{"id":"b8f52e4f41cd2d0d","type":"bigtimer","z":"0e8f6b67bf5f7644","g":"af922ec12cc24eb2","outtopic":"","outpayload1":"","outpayload2":"","name":"At Sunrise","comment":"","lat":"26.305080","lon":"-80.197180","starttime":"5003","endtime":"10001","starttime2":0,"endtime2":0,"startoff":"0","endoff":"0","startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":"2","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xday7":0,"xmonth7":0,"xday8":0,"xmonth8":0,"xday9":0,"xmonth9":0,"xday10":0,"xmonth10":0,"xday11":0,"xmonth11":0,"xday12":0,"xmonth12":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":150,"y":220,"wires":[[],["83b265c91908ebc9"],[]]},{"id":"83b265c91908ebc9","type":"switch","z":"0e8f6b67bf5f7644","g":"af922ec12cc24eb2","name":"Route","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":220,"wires":[["5de2e5947167caa9"],[]]},{"id":"72af4f94c5a53079","type":"api-current-state","z":"0e8f6b67bf5f7644","g":"af922ec12cc24eb2","name":"If Backyard Lights are ON","server":"1040bb61.673d75","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.backyard_string_lights","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":890,"y":460,"wires":[["ce7234c8b9b5fb38"],[]]},{"id":"ce7234c8b9b5fb38","type":"api-call-service","z":"0e8f6b67bf5f7644","g":"af922ec12cc24eb2","name":"Turn OFF","server":"1040bb61.673d75","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.backyard_string_lights"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1120,"y":460,"wires":[["37c06292e60fa0f2"]]},{"id":"37c06292e60fa0f2","type":"debug","z":"0e8f6b67bf5f7644","g":"af922ec12cc24eb2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1290,"y":460,"wires":[]},{"id":"3d6c570539c4e0a6","type":"api-call-service","z":"0e8f6b67bf5f7644","g":"af922ec12cc24eb2","name":"Turn OFF","server":"1040bb61.673d75","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.foyer_exterior_entryway"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1140,"y":280,"wires":[["352185a904ef52c8"]]},{"id":"8df8865412c76469","type":"api-current-state","z":"0e8f6b67bf5f7644","g":"af922ec12cc24eb2","name":"If Foyer Exterior Light is ON","server":"1040bb61.673d75","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.foyer_exterior_entryway","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":900,"y":280,"wires":[["3d6c570539c4e0a6"],[]]},{"id":"352185a904ef52c8","type":"debug","z":"0e8f6b67bf5f7644","g":"af922ec12cc24eb2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1310,"y":280,"wires":[]},{"id":"37289fa14f97c1e8","type":"api-current-state","z":"0e8f6b67bf5f7644","g":"af922ec12cc24eb2","name":"If Garage Exterior Lights are ON","server":"1040bb61.673d75","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.garage_exterior","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":910,"y":340,"wires":[["36bdeb7225d0ea6e"],[]]},{"id":"36bdeb7225d0ea6e","type":"api-call-service","z":"0e8f6b67bf5f7644","g":"af922ec12cc24eb2","name":"Turn OFF","server":"1040bb61.673d75","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.garage_exterior"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1160,"y":340,"wires":[["eb336140f99bd9fb"]]},{"id":"eb336140f99bd9fb","type":"debug","z":"0e8f6b67bf5f7644","g":"af922ec12cc24eb2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1330,"y":340,"wires":[]},{"id":"ca3ea91ad8b05cff","type":"api-current-state","z":"0e8f6b67bf5f7644","g":"8e91da327c4f467a","name":"If Garage Exterior Lights are ON","server":"1040bb61.673d75","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.garage_exterior","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":870,"y":1920,"wires":[["8575c9d21522d666"],[]]},{"id":"8575c9d21522d666","type":"api-call-service","z":"0e8f6b67bf5f7644","g":"8e91da327c4f467a","name":"Turn OFF","server":"1040bb61.673d75","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.garage_exterior"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1120,"y":1920,"wires":[["a22dcc5d492030a2"]]},{"id":"a22dcc5d492030a2","type":"debug","z":"0e8f6b67bf5f7644","g":"8e91da327c4f467a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1310,"y":1920,"wires":[]},{"id":"49aae6dea38bcdde","type":"switch","z":"0e8f6b67bf5f7644","g":"8e91da327c4f467a","name":"Route","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":2060,"wires":[["66ec99b6bd39ecc1"],[]]},{"id":"a3b250eba3c64cb3","type":"comment","z":"0e8f6b67bf5f7644","g":"8e91da327c4f467a","name":"----- Run daily, at Mightnight -----","info":"","x":210,"y":1920,"wires":[]},{"id":"df4ac9e5af0e8f6f","type":"comment","z":"0e8f6b67bf5f7644","g":"bcf8b42cf961c13f","name":"----- Run daily, 4 hours after sunset OR at 10:30 pm -----","info":"","x":290,"y":1220,"wires":[]},{"id":"ac8e0389514188ba","type":"comment","z":"0e8f6b67bf5f7644","g":"97d95b79239fec91","name":"----- Run daily, before sunset -----","info":"","x":220,"y":660,"wires":[]},{"id":"6e0b3c1b03210e20","type":"comment","z":"0e8f6b67bf5f7644","g":"af922ec12cc24eb2","name":"----- Run daily, at sunrise. -----","info":"","x":210,"y":80,"wires":[]},{"id":"f69c80594b85c018","type":"api-current-state","z":"0e8f6b67bf5f7644","g":"bcf8b42cf961c13f","name":"If Kitchen Above Cabinets are ON","server":"1040bb61.673d75","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.cabinet_upper_lights","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":920,"y":1640,"wires":[["40f99c206974098d"],[]]},{"id":"40f99c206974098d","type":"api-call-service","z":"0e8f6b67bf5f7644","g":"bcf8b42cf961c13f","name":"Turn OFF","server":"1040bb61.673d75","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.cabinet_upper_lights"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1180,"y":1640,"wires":[["2637ed3cce1da98c"]]},{"id":"2637ed3cce1da98c","type":"debug","z":"0e8f6b67bf5f7644","g":"bcf8b42cf961c13f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1350,"y":1640,"wires":[]},{"id":"8c4706b8fb84af54","type":"api-current-state","z":"0e8f6b67bf5f7644","g":"bcf8b42cf961c13f","name":"If Garage is CLOSED","server":"1040bb61.673d75","version":3,"outputs":2,"halt_if":"closed","halt_if_type":"str","halt_if_compare":"is","entity_id":"cover.garage_door","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":880,"y":1720,"wires":[["f1c037d1f1107475","c646f32bb6d988de"],[]]},{"id":"2b18ddccaad76d53","type":"api-call-service","z":"0e8f6b67bf5f7644","g":"bcf8b42cf961c13f","name":"Turn OFF","server":"1040bb61.673d75","version":5,"debugenabled":false,"domain":"switch","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.garage_ceiling"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1660,"y":1720,"wires":[["10b7f7a6bfa8975f"]]},{"id":"10b7f7a6bfa8975f","type":"debug","z":"0e8f6b67bf5f7644","g":"bcf8b42cf961c13f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1830,"y":1720,"wires":[]},{"id":"f1c037d1f1107475","type":"api-current-state","z":"0e8f6b67bf5f7644","g":"bcf8b42cf961c13f","name":"If Garage Light is ON","server":"1040bb61.673d75","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.garage_ceiling","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1140,"y":1720,"wires":[["739908c2caa329e7"],[]]},{"id":"f788e9f8fbef9822","type":"api-call-service","z":"0e8f6b67bf5f7644","g":"97d95b79239fec91","name":"Set Brightness & Fade Duration","server":"1040bb61.673d75","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.foyer_ceiling_ledge"],"data":"{\"brightness\":102,\"transition\":900}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"data"}],"queue":"none","output_location":"payload","output_location_type":"msg","x":1450,"y":840,"wires":[["e35f0e75fe9a65d6"]]},{"id":"cd9fa763f5527bf3","type":"bigtimer","z":"0e8f6b67bf5f7644","g":"97d95b79239fec91","outtopic":"","outpayload1":"","outpayload2":"","name":"Before Sunset","comment":"","lat":"26.305080","lon":"-80.197180","starttime":"5004","endtime":"10001","starttime2":0,"endtime2":0,"startoff":"-30","endoff":"-30","startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":"2","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xday7":0,"xmonth7":0,"xday8":0,"xmonth8":0,"xday9":0,"xmonth9":0,"xday10":0,"xmonth10":0,"xday11":0,"xmonth11":0,"xday12":0,"xmonth12":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":160,"y":800,"wires":[[],["fe4fe4a319aba2fa"],[]]},{"id":"fe4fe4a319aba2fa","type":"switch","z":"0e8f6b67bf5f7644","g":"97d95b79239fec91","name":"Route","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":350,"y":800,"wires":[["0fd57bfc1cb5087e","aeb44aa2522df9f4","31cf53aff11353eb"],[]]},{"id":"aadb7647ec3374ce","type":"api-current-state","z":"0e8f6b67bf5f7644","g":"97d95b79239fec91","name":"If Foyer Exterior Light is OFF","server":"1040bb61.673d75","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.foyer_exterior_entryway","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":900,"y":720,"wires":[["d6e0dbaa97906f3e"],[]]},{"id":"0fd57bfc1cb5087e","type":"api-current-state","z":"0e8f6b67bf5f7644","g":"97d95b79239fec91","name":"If Garage Exterior Lights are OFF","server":"1040bb61.673d75","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.garage_exterior","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":920,"y":1020,"wires":[["3ebe07734d58afec"],[]]},{"id":"d6e0dbaa97906f3e","type":"api-call-service","z":"0e8f6b67bf5f7644","g":"97d95b79239fec91","name":"Set Brightness & Fade Duration","server":"1040bb61.673d75","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.foyer_exterior_entryway"],"data":"{\"brightness\":255,\"transition\":900}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1210,"y":720,"wires":[["045f483e1dbc5d9a"]]},{"id":"3ebe07734d58afec","type":"api-call-service","z":"0e8f6b67bf5f7644","g":"97d95b79239fec91","name":"Set Brightness & Fade Duration","server":"1040bb61.673d75","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.garage_exterior"],"data":"{\"brightness\":255,\"transition\":900}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1250,"y":1020,"wires":[["2d4425f77f88c6b4"]]},{"id":"2d4425f77f88c6b4","type":"debug","z":"0e8f6b67bf5f7644","g":"97d95b79239fec91","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1490,"y":1020,"wires":[]},{"id":"045f483e1dbc5d9a","type":"debug","z":"0e8f6b67bf5f7644","g":"97d95b79239fec91","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1450,"y":720,"wires":[]},{"id":"03db6f81cdb33042","type":"api-call-service","z":"0e8f6b67bf5f7644","g":"bcf8b42cf961c13f","name":"Turn OFF","server":"1040bb61.673d75","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.foyer_ceiling_ledge"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1460,"y":1460,"wires":[["31a1ccbe51156198"]]},{"id":"2ab30f2f6e61cea0","type":"delay","z":"0e8f6b67bf5f7644","g":"bcf8b42cf961c13f","name":"","pauseType":"delay","timeout":"15","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":1770,"y":1400,"wires":[["e479926da7f7194b"]]},{"id":"e479926da7f7194b","type":"api-call-service","z":"0e8f6b67bf5f7644","g":"bcf8b42cf961c13f","name":"Turn OFF","server":"1040bb61.673d75","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.living_room"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1960,"y":1400,"wires":[["66eb2a0e58d55b7e"]]},{"id":"6dec74ac5574f034","type":"api-call-service","z":"0e8f6b67bf5f7644","g":"bcf8b42cf961c13f","name":"Set Brightness & Fade Duration","server":"1040bb61.673d75","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.living_room_corner_lamp"],"data":"{\"brightness\":0,\"transition\":900}","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1510,"y":1400,"wires":[["2ab30f2f6e61cea0"]]},{"id":"756934d53f56ef59","type":"api-current-state","z":"0e8f6b67bf5f7644","g":"97d95b79239fec91","name":"If Presence is ON","server":"1040bb61.673d75","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.presence_living_room","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1110,"y":780,"wires":[["38ac479d21115bd1"],[]]},{"id":"cd46289ff5b4a370","type":"api-current-state","z":"0e8f6b67bf5f7644","g":"bcf8b42cf961c13f","name":"If Presence is ON","server":"1040bb61.673d75","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.presence_living_room","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":870,"y":1280,"wires":[[],["be4261c9c45ad9e4","6a366205e89ab248","392103830291ac1f","69a9377db1fbae6d"]]},{"id":"1ed6b9b961f6af4b","type":"trigger-state","z":"0e8f6b67bf5f7644","g":"97d95b79239fec91","name":"Button Pressed","server":"1040bb61.673d75","version":4,"inputs":0,"outputs":2,"exposeAsEntityConfig":"","entityId":"input_button.trigger_sunset_automations_run","entityIdType":"exact","debugEnabled":false,"constraints":[],"customOutputs":[],"outputInitially":false,"stateType":"str","enableInput":false,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":160,"y":720,"wires":[["9e9dca0a3710ab4b"],[]]},{"id":"9e9dca0a3710ab4b","type":"change","z":"0e8f6b67bf5f7644","g":"97d95b79239fec91","name":"Set Attribute","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":720,"wires":[["fe4fe4a319aba2fa"]]},{"id":"aeb44aa2522df9f4","type":"api-current-state","z":"0e8f6b67bf5f7644","g":"97d95b79239fec91","name":"If RUN Flag is ON","server":"1040bb61.673d75","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.sunset_automations_run","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":590,"y":720,"wires":[["77ce70f8ea73afa1","508530b4a6242cc6","3ebc94adc32366e3","5ccae411815f63be","aadb7647ec3374ce","03e430271c4d3e2e"],[]]},{"id":"4efc1e9ee6e5ecd8","type":"api-current-state","z":"0e8f6b67bf5f7644","g":"bcf8b42cf961c13f","name":"If RUN Flag is ON","server":"1040bb61.673d75","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.bedtime_automations_run","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":590,"y":1280,"wires":[["f69c80594b85c018","e1fcea2c78ba524c","cd46289ff5b4a370","aec9036e1339cf0e"],[]]},{"id":"74363e5f8a0ae601","type":"api-current-state","z":"0e8f6b67bf5f7644","g":"af922ec12cc24eb2","name":"If Automations RUN Flag is OFF","server":"1040bb61.673d75","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.sunset_automations_run","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":910,"y":140,"wires":[["23e7eab6fa56ab99"],[]]},{"id":"23e7eab6fa56ab99","type":"api-call-service","z":"0e8f6b67bf5f7644","g":"af922ec12cc24eb2","name":"Turn Flag ON","server":"1040bb61.673d75","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.sunset_automations_run"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1180,"y":140,"wires":[["4735a6ac5513ce91"]]},{"id":"4735a6ac5513ce91","type":"debug","z":"0e8f6b67bf5f7644","g":"af922ec12cc24eb2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1370,"y":140,"wires":[]},{"id":"7dafe19c20b516ab","type":"trigger-state","z":"0e8f6b67bf5f7644","g":"bcf8b42cf961c13f","name":"Button Pressed","server":"1040bb61.673d75","version":4,"inputs":0,"outputs":2,"exposeAsEntityConfig":"","entityId":"input_button.trigger_bedtime_automations_run","entityIdType":"exact","debugEnabled":false,"constraints":[],"customOutputs":[],"outputInitially":false,"stateType":"str","enableInput":false,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":160,"y":1280,"wires":[["f860143ff34457e6"],[]]},{"id":"f860143ff34457e6","type":"change","z":"0e8f6b67bf5f7644","g":"bcf8b42cf961c13f","name":"Set Attribute","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":1280,"wires":[["4be567938dadd156"]]},{"id":"8a682d25858f16f8","type":"bigtimer","z":"0e8f6b67bf5f7644","g":"bcf8b42cf961c13f","outtopic":"","outpayload1":"","outpayload2":"","name":"At 10:15 pm","comment":"","lat":"26.305080","lon":"-80.197180","starttime":"1335","endtime":"10001","starttime2":"0","endtime2":"0","startoff":"0","endoff":"0","startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":"2","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xday7":0,"xmonth7":0,"xday8":0,"xmonth8":0,"xday9":0,"xmonth9":0,"xday10":0,"xmonth10":0,"xday11":0,"xmonth11":0,"xday12":0,"xmonth12":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":150,"y":1440,"wires":[[],["4be567938dadd156"],[]]},{"id":"5ccae411815f63be","type":"api-current-state","z":"0e8f6b67bf5f7644","g":"97d95b79239fec91","name":"If Flag is OFF","server":"1040bb61.673d75","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.sunset_automations_active","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":850,"y":660,"wires":[["881081445e623691"],[]]},{"id":"881081445e623691","type":"api-call-service","z":"0e8f6b67bf5f7644","g":"97d95b79239fec91","name":"Turn ON","server":"1040bb61.673d75","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.sunset_automations_active"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1040,"y":660,"wires":[["37ca44f5dddca3c6"]]},{"id":"37ca44f5dddca3c6","type":"debug","z":"0e8f6b67bf5f7644","g":"97d95b79239fec91","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1210,"y":660,"wires":[]},{"id":"e99f6ad0e45e80eb","type":"bigtimer","z":"0e8f6b67bf5f7644","g":"bcf8b42cf961c13f","outtopic":"","outpayload1":"","outpayload2":"","name":"At Midnight","comment":"","lat":"26.305080","lon":"-80.197180","starttime":"0","endtime":"10001","starttime2":"0","endtime2":"0","startoff":"0","endoff":"0","startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":"2","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xday7":0,"xmonth7":0,"xday8":0,"xmonth8":0,"xday9":0,"xmonth9":0,"xday10":0,"xmonth10":0,"xday11":0,"xmonth11":0,"xday12":0,"xmonth12":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":150,"y":1520,"wires":[[],["4be567938dadd156"],[]]},{"id":"a877fb863e533746","type":"bigtimer","z":"0e8f6b67bf5f7644","g":"bcf8b42cf961c13f","outtopic":"","outpayload1":"","outpayload2":"","name":"At 1:30 am","comment":"","lat":"26.305080","lon":"-80.197180","starttime":"90","endtime":"10001","starttime2":"0","endtime2":"0","startoff":"0","endoff":"0","startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":"2","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xday7":0,"xmonth7":0,"xday8":0,"xmonth8":0,"xday9":0,"xmonth9":0,"xday10":0,"xmonth10":0,"xday11":0,"xmonth11":0,"xday12":0,"xmonth12":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":150,"y":1600,"wires":[[],["4be567938dadd156"],[]]},{"id":"fa871ac9041e7982","type":"bigtimer","z":"0e8f6b67bf5f7644","g":"bcf8b42cf961c13f","outtopic":"","outpayload1":"","outpayload2":"","name":"At 3:00 am","comment":"","lat":"26.305080","lon":"-80.197180","starttime":"180","endtime":"10001","starttime2":"0","endtime2":"0","startoff":"0","endoff":"0","startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":"2","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xday7":0,"xmonth7":0,"xday8":0,"xmonth8":0,"xday9":0,"xmonth9":0,"xday10":0,"xmonth10":0,"xday11":0,"xmonth11":0,"xday12":0,"xmonth12":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":150,"y":1680,"wires":[[],["4be567938dadd156"],[]]},{"id":"029a075bef31110c","type":"bigtimer","z":"0e8f6b67bf5f7644","g":"bcf8b42cf961c13f","outtopic":"","outpayload1":"","outpayload2":"","name":"At 4:30 am","comment":"","lat":"26.305080","lon":"-80.197180","starttime":"270","endtime":"10001","starttime2":"0","endtime2":"0","startoff":"0","endoff":"0","startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":"2","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xday7":0,"xmonth7":0,"xday8":0,"xmonth8":0,"xday9":0,"xmonth9":0,"xday10":0,"xmonth10":0,"xday11":0,"xmonth11":0,"xday12":0,"xmonth12":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":150,"y":1760,"wires":[[],["4be567938dadd156"],[]]},{"id":"c646f32bb6d988de","type":"api-current-state","z":"0e8f6b67bf5f7644","g":"bcf8b42cf961c13f","name":"If Garage Fan is ON","server":"1040bb61.673d75","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.garage_fan","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1130,"y":1780,"wires":[["faf06f138718c891"],[]]},{"id":"87c3284261664ac1","type":"api-call-service","z":"0e8f6b67bf5f7644","g":"bcf8b42cf961c13f","name":"Turn OFF","server":"1040bb61.673d75","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.garage_fan"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1660,"y":1780,"wires":[["006cd05ad8b73fc7"]]},{"id":"006cd05ad8b73fc7","type":"debug","z":"0e8f6b67bf5f7644","g":"bcf8b42cf961c13f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1830,"y":1780,"wires":[]},{"id":"6a366205e89ab248","type":"api-current-state","z":"0e8f6b67bf5f7644","g":"bcf8b42cf961c13f","name":"If Foyer Exterior Light is ON","server":"1040bb61.673d75","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.foyer_exterior_entryway","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1160,"y":1280,"wires":[["e917450ddc531172"],[]]},{"id":"e917450ddc531172","type":"api-call-service","z":"0e8f6b67bf5f7644","g":"bcf8b42cf961c13f","name":"Turn OFF","server":"1040bb61.673d75","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.foyer_exterior_entryway"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1400,"y":1280,"wires":[["237cc8ce48f2273e"]]},{"id":"237cc8ce48f2273e","type":"debug","z":"0e8f6b67bf5f7644","g":"bcf8b42cf961c13f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1570,"y":1280,"wires":[]},{"id":"bc71775aad7f41cf","type":"api-call-service","z":"0e8f6b67bf5f7644","g":"af922ec12cc24eb2","name":"Turn Flag OFF","server":"1040bb61.673d75","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.sunset_automations_active"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1200,"y":200,"wires":[["4d67c87f5660e2ff"]]},{"id":"2b3bc8cb0c75c940","type":"api-current-state","z":"0e8f6b67bf5f7644","g":"af922ec12cc24eb2","name":"If Automations ACTIVE Flag is ON","server":"1040bb61.673d75","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.sunset_automations_active","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":920,"y":200,"wires":[["bc71775aad7f41cf"],[]]},{"id":"4d67c87f5660e2ff","type":"debug","z":"0e8f6b67bf5f7644","g":"af922ec12cc24eb2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1390,"y":200,"wires":[]},{"id":"e1fcea2c78ba524c","type":"api-current-state","z":"0e8f6b67bf5f7644","g":"bcf8b42cf961c13f","name":"If Flag is ON","server":"1040bb61.673d75","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.sunset_automations_active","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":850,"y":1220,"wires":[["372614d257c1b713"],[]]},{"id":"372614d257c1b713","type":"api-call-service","z":"0e8f6b67bf5f7644","g":"bcf8b42cf961c13f","name":"Turn OFF","server":"1040bb61.673d75","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.sunset_automations_active"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1040,"y":1220,"wires":[["3d2f7aa91ec2de18"]]},{"id":"3d2f7aa91ec2de18","type":"debug","z":"0e8f6b67bf5f7644","g":"bcf8b42cf961c13f","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1210,"y":1220,"wires":[]},{"id":"fd4be9316de11f61","type":"inject","z":"0e8f6b67bf5f7644","g":"8e91da327c4f467a","name":"Trigger Flow","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":370,"y":2140,"wires":[["49aae6dea38bcdde"]]},{"id":"c2fd5310b317759a","type":"inject","z":"0e8f6b67bf5f7644","g":"bcf8b42cf961c13f","name":"Trigger Flow","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":370,"y":1440,"wires":[["4be567938dadd156"]]},{"id":"d25e902e5f43e0b6","type":"inject","z":"0e8f6b67bf5f7644","g":"97d95b79239fec91","name":"Trigger Flow","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":370,"y":880,"wires":[["fe4fe4a319aba2fa"]]},{"id":"73669c480de41f67","type":"inject","z":"0e8f6b67bf5f7644","g":"af922ec12cc24eb2","name":"Trigger Flow","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":370,"y":300,"wires":[["83b265c91908ebc9"]]},{"id":"554364cb7f402e3f","type":"api-current-state","z":"0e8f6b67bf5f7644","g":"8e91da327c4f467a","name":"If Garage Interior Lights are ON","server":"1040bb61.673d75","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.garage_ceiling","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":870,"y":2060,"wires":[["dc6ec384265c210c"],[]]},{"id":"6462c865078d1e49","type":"api-call-service","z":"0e8f6b67bf5f7644","g":"8e91da327c4f467a","name":"Turn OFF","server":"1040bb61.673d75","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.garage_ceiling"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1420,"y":2060,"wires":[["b0c9497dd4974c2a"]]},{"id":"b0c9497dd4974c2a","type":"debug","z":"0e8f6b67bf5f7644","g":"8e91da327c4f467a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1590,"y":2060,"wires":[]},{"id":"dc6ec384265c210c","type":"api-current-state","z":"0e8f6b67bf5f7644","g":"8e91da327c4f467a","name":"If Garage Presence is OFF","server":"1040bb61.673d75","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.presence_garage","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1180,"y":2060,"wires":[["6462c865078d1e49"],[]]},{"id":"739908c2caa329e7","type":"api-current-state","z":"0e8f6b67bf5f7644","g":"bcf8b42cf961c13f","name":"If Garage Presence is OFF","server":"1040bb61.673d75","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.presence_garage","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1420,"y":1720,"wires":[["2b18ddccaad76d53"],[]]},{"id":"faf06f138718c891","type":"api-current-state","z":"0e8f6b67bf5f7644","g":"bcf8b42cf961c13f","name":"If Garage Presence is OFF","server":"1040bb61.673d75","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"binary_sensor.presence_garage","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1420,"y":1780,"wires":[["87c3284261664ac1"],[]]},{"id":"31cf53aff11353eb","type":"api-current-state","z":"0e8f6b67bf5f7644","g":"97d95b79239fec91","name":"If Front Yard Lights are OFF","server":"1040bb61.673d75","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.front_yard_accent_lights","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":900,"y":1080,"wires":[["9be85ff0bb1d897e"],[]]},{"id":"9be85ff0bb1d897e","type":"api-call-service","z":"0e8f6b67bf5f7644","g":"97d95b79239fec91","name":"Turn ON","server":"1040bb61.673d75","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.front_yard_accent_lights"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1140,"y":1080,"wires":[["96a95b863ebb13a7"]]},{"id":"96a95b863ebb13a7","type":"debug","z":"0e8f6b67bf5f7644","g":"97d95b79239fec91","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1310,"y":1080,"wires":[]},{"id":"658620835c1a3073","type":"api-current-state","z":"0e8f6b67bf5f7644","g":"8e91da327c4f467a","name":"If Front Yard Lights are ON","server":"1040bb61.673d75","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.front_yard_accent_lights","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":860,"y":1980,"wires":[["4c29cca408d3c40c"],[]]},{"id":"4c29cca408d3c40c","type":"api-call-service","z":"0e8f6b67bf5f7644","g":"8e91da327c4f467a","name":"Turn OFF","server":"1040bb61.673d75","version":5,"debugenabled":false,"domain":"light","service":"turn_off","areaId":[],"deviceId":[],"entityId":["light.front_yard_accent_lights"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1120,"y":1980,"wires":[["262f1873d45f4e71"]]},{"id":"262f1873d45f4e71","type":"debug","z":"0e8f6b67bf5f7644","g":"8e91da327c4f467a","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1290,"y":1980,"wires":[]},{"id":"3bd220d0c7015876","type":"trigger-state","z":"0e8f6b67bf5f7644","g":"8e91da327c4f467a","name":"Button Pressed","server":"1040bb61.673d75","version":4,"inputs":0,"outputs":2,"exposeAsEntityConfig":"","entityId":"input_button.trigger_midnight_automations_run","entityIdType":"exact","debugEnabled":false,"constraints":[],"customOutputs":[],"outputInitially":false,"stateType":"str","enableInput":false,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":160,"y":1980,"wires":[["11945768839bef9e"],[]]},{"id":"66ec99b6bd39ecc1","type":"api-current-state","z":"0e8f6b67bf5f7644","g":"8e91da327c4f467a","name":"If RUN Flag is ON","server":"1040bb61.673d75","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.midnight_automations_run","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":550,"y":2060,"wires":[["554364cb7f402e3f","658620835c1a3073","0802fe0a20fcb2c5"],[]]},{"id":"11945768839bef9e","type":"change","z":"0e8f6b67bf5f7644","g":"8e91da327c4f467a","name":"Set Attribute","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":1980,"wires":[["49aae6dea38bcdde"]]},{"id":"5de2e5947167caa9","type":"api-current-state","z":"0e8f6b67bf5f7644","g":"af922ec12cc24eb2","name":"If RUN Flag is ON","server":"1040bb61.673d75","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.sunrise_automations_run","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":590,"y":140,"wires":[["74363e5f8a0ae601","2b3bc8cb0c75c940","8df8865412c76469","37289fa14f97c1e8","72af4f94c5a53079","e4322dbddc9afd84","52f542a6a7aac3a4","4748de013fbe96e5"],[]]},{"id":"f18487ee52559c79","type":"change","z":"0e8f6b67bf5f7644","g":"af922ec12cc24eb2","name":"Set Attribute","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":140,"wires":[["83b265c91908ebc9"]]},{"id":"641520ebc8cda255","type":"trigger-state","z":"0e8f6b67bf5f7644","g":"af922ec12cc24eb2","name":"Button Pressed","server":"1040bb61.673d75","version":4,"inputs":0,"outputs":2,"exposeAsEntityConfig":"","entityId":"input_button.trigger_sunrise_automations_run","entityIdType":"exact","debugEnabled":false,"constraints":[],"customOutputs":[],"outputInitially":false,"stateType":"str","enableInput":false,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":160,"y":140,"wires":[["f18487ee52559c79"],[]]},{"id":"e0cee53b8574bcbf","type":"switch","z":"0e8f6b67bf5f7644","g":"bdc631bb10970883","name":"Route","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":2580,"wires":[["13b7f8fed13ab942"],[]]},{"id":"4cfe141bc55e687d","type":"comment","z":"0e8f6b67bf5f7644","g":"bdc631bb10970883","name":"----- Run daily, at 1:00 am -----","info":"","x":210,"y":2460,"wires":[]},{"id":"a68be113fce5b9c8","type":"bigtimer","z":"0e8f6b67bf5f7644","g":"bdc631bb10970883","outtopic":"","outpayload1":"","outpayload2":"","name":"1 Min Before 1:00 am","comment":"","lat":"26.305080","lon":"-80.197180","starttime":"60","endtime":"10001","starttime2":"0","endtime2":"0","startoff":"-1","endoff":"0","startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":"2","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xday7":0,"xmonth7":0,"xday8":0,"xmonth8":0,"xday9":0,"xmonth9":0,"xday10":0,"xmonth10":0,"xday11":0,"xmonth11":0,"xday12":0,"xmonth12":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":180,"y":2580,"wires":[[],["e0cee53b8574bcbf"],[]]},{"id":"df7f7ae5cdfac0e8","type":"inject","z":"0e8f6b67bf5f7644","g":"bdc631bb10970883","name":"Trigger Flow","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":210,"y":2660,"wires":[["e0cee53b8574bcbf"]]},{"id":"bd3a3dd77c1184f2","type":"api-call-service","z":"0e8f6b67bf5f7644","g":"bdc631bb10970883","name":"Turn OFF Snoozed Reminders","server":"1040bb61.673d75","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.reminder_toothbrush_snoozed_jessica","input_boolean.reminder_toothbrush_snoozed_thomas","input_boolean.reminder_medicine_afternoon_snoozed_jessica","input_boolean.reminder_medicine_afternoon_snoozed_thomas","input_boolean.reminder_medicine_evening_snoozed_jessica","input_boolean.reminder_medicine_evening_snoozed_thomas","input_boolean.reminder_medicine_morning_snoozed_jessica","input_boolean.reminder_medicine_morning_snoozed_thomas","input_boolean.reminder_medicine_snoozed_gouda","input_boolean.snooze_notify_doorbell_motion","input_boolean.snooze_notify_front_door_unlocked","input_boolean.snooze_notify_garage_open","input_boolean.snooze_notify_household_activity","input_boolean.snooze_recycle_reminder_bring_in","input_boolean.snooze_recycle_reminder_take_out","input_boolean.snooze_waste_reminder_bring_in","input_boolean.snooze_waste_reminder_take_out"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":870,"y":2640,"wires":[["6238fbbb75dc6ee0"]]},{"id":"6238fbbb75dc6ee0","type":"debug","z":"0e8f6b67bf5f7644","g":"bdc631bb10970883","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1150,"y":2580,"wires":[]},{"id":"cf810ac76943a369","type":"inject","z":"0e8f6b67bf5f7644","g":"bdc631bb10970883","name":"Trigger Flow","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":210,"y":2940,"wires":[["c5c8415bde618209"]]},{"id":"c5c8415bde618209","type":"switch","z":"0e8f6b67bf5f7644","g":"bdc631bb10970883","name":"Route","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"0","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":390,"y":2860,"wires":[["9ac02930d57cad7e"],[]]},{"id":"dfcf23405c320736","type":"bigtimer","z":"0e8f6b67bf5f7644","g":"bdc631bb10970883","outtopic":"","outpayload1":"","outpayload2":"","name":"1 min Before 1:00 pm","comment":"","lat":"26.305080","lon":"-80.197180","starttime":"780","endtime":"10001","starttime2":"0","endtime2":"0","startoff":"-1","endoff":"0","startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":"2","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xday7":0,"xmonth7":0,"xday8":0,"xmonth8":0,"xday9":0,"xmonth9":0,"xday10":0,"xmonth10":0,"xday11":0,"xmonth11":0,"xday12":0,"xmonth12":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":180,"y":2860,"wires":[[],["c5c8415bde618209"],[]]},{"id":"bbe94e86d28be090","type":"trigger-state","z":"0e8f6b67bf5f7644","g":"bdc631bb10970883","name":"Button Pressed","server":"1040bb61.673d75","version":4,"inputs":0,"outputs":2,"exposeAsEntityConfig":"","entityId":"input_button.trigger_midnight_automations_run","entityIdType":"exact","debugEnabled":false,"constraints":[],"customOutputs":[],"outputInitially":false,"stateType":"str","enableInput":false,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":160,"y":2500,"wires":[["6176eedcd6b71b00"],[]]},{"id":"13b7f8fed13ab942","type":"api-current-state","z":"0e8f6b67bf5f7644","g":"bdc631bb10970883","name":"If RUN Flag is ON","server":"1040bb61.673d75","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.midnight_automations_run","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":590,"y":2580,"wires":[["bd3a3dd77c1184f2","7d0236b9ac4ae1b0","afdee1400ff560e8","d4b76d88c407a66c","38a201d19a4cd6fe"],[]]},{"id":"9ac02930d57cad7e","type":"api-current-state","z":"0e8f6b67bf5f7644","g":"bdc631bb10970883","name":"If RUN Flag is ON","server":"1040bb61.673d75","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.noon_automations_run","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":590,"y":2860,"wires":[["2551177d2e8305e5","81251d5c7c8c240e"],[]]},{"id":"fac15e1488279126","type":"trigger-state","z":"0e8f6b67bf5f7644","g":"bdc631bb10970883","name":"Button Pressed","server":"1040bb61.673d75","version":4,"inputs":0,"outputs":2,"exposeAsEntityConfig":"","entityId":"input_button.trigger_noon_automations_run","entityIdType":"exact","debugEnabled":false,"constraints":[],"customOutputs":[],"outputInitially":false,"stateType":"str","enableInput":false,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"x":160,"y":2780,"wires":[["1b43fa2374928373"],[]]},{"id":"6176eedcd6b71b00","type":"change","z":"0e8f6b67bf5f7644","g":"bdc631bb10970883","name":"Set Attribute","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":2500,"wires":[["e0cee53b8574bcbf"]]},{"id":"1b43fa2374928373","type":"change","z":"0e8f6b67bf5f7644","g":"bdc631bb10970883","name":"Set Attribute","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":370,"y":2780,"wires":[["c5c8415bde618209"]]},{"id":"53f6962f8443e89c","type":"comment","z":"0e8f6b67bf5f7644","g":"bdc631bb10970883","name":"----- Run daily, at 1:00 pm -----","info":"","x":210,"y":2740,"wires":[]},{"id":"7d0236b9ac4ae1b0","type":"api-call-service","z":"0e8f6b67bf5f7644","g":"bdc631bb10970883","name":"Turn OFF Flagged Reminders","server":"1040bb61.673d75","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.reminder_toothbrush_complete_jessica","input_boolean.reminder_toothbrush_complete_thomas","input_boolean.reminder_medicine_afternoon_complete_jessica","input_boolean.reminder_medicine_afternoon_complete_thomas","input_boolean.reminder_medicine_complete_gouda","input_boolean.reminder_medicine_evening_complete_jessica","input_boolean.reminder_medicine_evening_complete_thomas","input_boolean.reminder_medicine_morning_complete_jessica","input_boolean.reminder_medicine_morning_complete_thomas"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":870,"y":2720,"wires":[["6238fbbb75dc6ee0"]]},{"id":"2551177d2e8305e5","type":"api-call-service","z":"0e8f6b67bf5f7644","g":"bdc631bb10970883","name":"Turn OFF Snoozed Reminders","server":"1040bb61.673d75","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.reminder_toothbrush_snoozed_jessica","input_boolean.reminder_toothbrush_snoozed_thomas"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":870,"y":2860,"wires":[["c33975c50e590909"]]},{"id":"81251d5c7c8c240e","type":"api-call-service","z":"0e8f6b67bf5f7644","g":"bdc631bb10970883","name":"Turn OFF Flagged Reminders","server":"1040bb61.673d75","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.reminder_toothbrush_complete_jessica","input_boolean.reminder_toothbrush_complete_thomas"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":870,"y":2940,"wires":[["c33975c50e590909"]]},{"id":"c33975c50e590909","type":"debug","z":"0e8f6b67bf5f7644","g":"bdc631bb10970883","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1110,"y":2860,"wires":[]},{"id":"33a97b9ee57b311d","type":"bigtimer","z":"0e8f6b67bf5f7644","g":"8e91da327c4f467a","outtopic":"","outpayload1":"","outpayload2":"","name":"At Midnight","comment":"","lat":"26.305080","lon":"-80.197180","starttime":"0","endtime":"10001","starttime2":"0","endtime2":"0","startoff":"0","endoff":"0","startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":"2","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xday7":0,"xmonth7":0,"xday8":0,"xmonth8":0,"xday9":0,"xmonth9":0,"xday10":0,"xmonth10":0,"xday11":0,"xmonth11":0,"xday12":0,"xmonth12":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":150,"y":2060,"wires":[[],["49aae6dea38bcdde"],[]]},{"id":"e4322dbddc9afd84","type":"api-current-state","z":"0e8f6b67bf5f7644","g":"af922ec12cc24eb2","name":"If Front Yard Lights are ON","server":"1040bb61.673d75","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.front_yard_accent_lights","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":900,"y":400,"wires":[["64e82c5ccdca98f3"],[]]},{"id":"64e82c5ccdca98f3","type":"api-call-service","z":"0e8f6b67bf5f7644","g":"af922ec12cc24eb2","name":"Turn OFF","server":"1040bb61.673d75","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.front_yard_accent_lights"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1140,"y":400,"wires":[["a46812e1af17a5d5"]]},{"id":"a46812e1af17a5d5","type":"debug","z":"0e8f6b67bf5f7644","g":"af922ec12cc24eb2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1310,"y":400,"wires":[]},{"id":"975796edb953ce38","type":"bigtimer","z":"0e8f6b67bf5f7644","g":"8e91da327c4f467a","outtopic":"","outpayload1":"","outpayload2":"","name":"At 1:30 am","comment":"","lat":"26.305080","lon":"-80.197180","starttime":"90","endtime":"10001","starttime2":"0","endtime2":"0","startoff":"0","endoff":"0","startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":"2","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xday7":0,"xmonth7":0,"xday8":0,"xmonth8":0,"xday9":0,"xmonth9":0,"xday10":0,"xmonth10":0,"xday11":0,"xmonth11":0,"xday12":0,"xmonth12":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":150,"y":2140,"wires":[[],["49aae6dea38bcdde"],[]]},{"id":"068603d5b8c4b780","type":"bigtimer","z":"0e8f6b67bf5f7644","g":"8e91da327c4f467a","outtopic":"","outpayload1":"","outpayload2":"","name":"At 3:00 am","comment":"","lat":"26.305080","lon":"-80.197180","starttime":"180","endtime":"10001","starttime2":"0","endtime2":"0","startoff":"0","endoff":"0","startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":"2","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xday7":0,"xmonth7":0,"xday8":0,"xmonth8":0,"xday9":0,"xmonth9":0,"xday10":0,"xmonth10":0,"xday11":0,"xmonth11":0,"xday12":0,"xmonth12":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":150,"y":2220,"wires":[[],["49aae6dea38bcdde"],[]]},{"id":"768333d67a56955d","type":"bigtimer","z":"0e8f6b67bf5f7644","g":"8e91da327c4f467a","outtopic":"","outpayload1":"","outpayload2":"","name":"At 4:30 am","comment":"","lat":"26.305080","lon":"-80.197180","starttime":"270","endtime":"10001","starttime2":"0","endtime2":"0","startoff":"0","endoff":"0","startoff2":0,"endoff2":0,"offs":0,"outtext1":"","outtext2":"","timeout":"2","sun":true,"mon":true,"tue":true,"wed":true,"thu":true,"fri":true,"sat":true,"jan":true,"feb":true,"mar":true,"apr":true,"may":true,"jun":true,"jul":true,"aug":true,"sep":true,"oct":true,"nov":true,"dec":true,"day1":0,"month1":0,"day2":0,"month2":0,"day3":0,"month3":0,"day4":0,"month4":0,"day5":0,"month5":0,"day6":0,"month6":0,"day7":0,"month7":0,"day8":0,"month8":0,"day9":0,"month9":0,"day10":0,"month10":0,"day11":0,"month11":0,"day12":0,"month12":0,"d1":0,"w1":0,"d2":0,"w2":0,"d3":0,"w3":0,"d4":0,"w4":0,"d5":0,"w5":0,"d6":0,"w6":0,"xday1":0,"xmonth1":0,"xday2":0,"xmonth2":0,"xday3":0,"xmonth3":0,"xday4":0,"xmonth4":0,"xday5":0,"xmonth5":0,"xday6":0,"xmonth6":0,"xday7":0,"xmonth7":0,"xday8":0,"xmonth8":0,"xday9":0,"xmonth9":0,"xday10":0,"xmonth10":0,"xday11":0,"xmonth11":0,"xday12":0,"xmonth12":0,"xd1":0,"xw1":0,"xd2":0,"xw2":0,"xd3":0,"xw3":0,"xd4":0,"xw4":0,"xd5":0,"xw5":0,"xd6":0,"xw6":0,"suspend":false,"random":false,"randon1":false,"randoff1":false,"randon2":false,"randoff2":false,"repeat":true,"atstart":true,"odd":false,"even":false,"x":150,"y":2300,"wires":[[],["49aae6dea38bcdde"],[]]},{"id":"d4b76d88c407a66c","type":"api-current-state","z":"0e8f6b67bf5f7644","g":"bdc631bb10970883","name":"If Sidebar Waste Reminder is OFF","server":"1040bb61.673d75","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.reminder_waste_take_out_solid","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":880,"y":2460,"wires":[["9ff6d295f69d969e"],[]]},{"id":"afdee1400ff560e8","type":"api-current-state","z":"0e8f6b67bf5f7644","g":"bdc631bb10970883","name":"If Sidebar Recycle Reminder is OFF","server":"1040bb61.673d75","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"input_boolean.sidebar_display_recycle_reminder","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":890,"y":2520,"wires":[["155508e0b45747f4"],[]]},{"id":"155508e0b45747f4","type":"api-call-service","z":"0e8f6b67bf5f7644","g":"bdc631bb10970883","name":"Turn ON","server":"1040bb61.673d75","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.sidebar_display_recycle_reminder"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1160,"y":2520,"wires":[["78998044bdd7e639"]]},{"id":"78998044bdd7e639","type":"debug","z":"0e8f6b67bf5f7644","g":"bdc631bb10970883","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1310,"y":2460,"wires":[]},{"id":"9ff6d295f69d969e","type":"api-call-service","z":"0e8f6b67bf5f7644","g":"bdc631bb10970883","name":"Turn ON","server":"1040bb61.673d75","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_on","areaId":[],"deviceId":[],"entityId":["input_boolean.sidebar_display_waste_reminder"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1140,"y":2460,"wires":[["78998044bdd7e639"]]},{"id":"52f542a6a7aac3a4","type":"api-current-state","z":"0e8f6b67bf5f7644","g":"af922ec12cc24eb2","name":"If Under Table Lightstrip is ON","server":"1040bb61.673d75","version":3,"outputs":2,"halt_if":"on","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.foyer_under_table","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":910,"y":520,"wires":[["fcf2ad47d6b9c9cb"],[]]},{"id":"fcf2ad47d6b9c9cb","type":"api-call-service","z":"0e8f6b67bf5f7644","g":"af922ec12cc24eb2","name":"Turn OFF","server":"1040bb61.673d75","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.foyer_under_table"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1160,"y":520,"wires":[["45ad42f54ae3227f"]]},{"id":"45ad42f54ae3227f","type":"debug","z":"0e8f6b67bf5f7644","g":"af922ec12cc24eb2","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1330,"y":520,"wires":[]},{"id":"9c887dc29563662b","type":"api-current-state","z":"0e8f6b67bf5f7644","g":"97d95b79239fec91","name":"If UnderTable Lightstrip are OFF","server":"1040bb61.673d75","version":3,"outputs":2,"halt_if":"off","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.foyer_under_table","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1150,"y":960,"wires":[["8b65b1fa21664d56"],[]]},{"id":"8b65b1fa21664d56","type":"api-call-service","z":"0e8f6b67bf5f7644","g":"97d95b79239fec91","name":"Turn ON","server":"1040bb61.673d75","version":5,"debugenabled":false,"domain":"light","service":"turn_on","areaId":[],"deviceId":[],"entityId":["light.foyer_under_table"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1400,"y":960,"wires":[["0bc4e6b2a84f7f64"]]},{"id":"0bc4e6b2a84f7f64","type":"debug","z":"0e8f6b67bf5f7644","g":"97d95b79239fec91","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1570,"y":960,"wires":[]},{"id":"38a201d19a4cd6fe","type":"api-call-service","z":"0e8f6b67bf5f7644","g":"bdc631bb10970883","name":"Turn OFF Waste/Recycle Reminders","server":"1040bb61.673d75","version":5,"debugenabled":false,"domain":"input_boolean","service":"turn_off","areaId":[],"deviceId":[],"entityId":["input_boolean.reminder_waste_take_out_bulk","input_boolean.reminder_waste_bring_in_recycle","input_boolean.reminder_waste_take_out_recycle","input_boolean.reminder_waste_bring_in_solid","input_boolean.reminder_waste_take_out_solid"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":890,"y":2580,"wires":[["6238fbbb75dc6ee0"]]},{"id":"4748de013fbe96e5","type":"link out","z":"0e8f6b67bf5f7644","g":"af922ec12cc24eb2","name":"AUTOMATION: Run at Sunrise","mode":"link","links":["4b1590f6903f6729"],"x":665,"y":80,"wires":[]},{"id":"03e430271c4d3e2e","type":"link out","z":"0e8f6b67bf5f7644","g":"97d95b79239fec91","name":"AUTOMATION: Run at Sunset","mode":"link","links":["77352a2adfd55f6b","7ec8babc544ce66e"],"x":665,"y":660,"wires":[]},{"id":"aec9036e1339cf0e","type":"link out","z":"0e8f6b67bf5f7644","g":"bcf8b42cf961c13f","name":"AUTOMATION: Run at Bedtime","mode":"link","links":["77352a2adfd55f6b","7ec8babc544ce66e"],"x":665,"y":1220,"wires":[]},{"id":"0802fe0a20fcb2c5","type":"link out","z":"0e8f6b67bf5f7644","g":"8e91da327c4f467a","name":"AUTOMATION: Run at Midnight","mode":"link","links":["596be845c3a6f1a0"],"x":625,"y":1920,"wires":[]},{"id":"1040bb61.673d75","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"","connectionDelay":false,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true}]